body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
  background-image: linear-gradient(
    to top right,
    #e8f9fa,
    rgba(247, 253, 246, 1)
  ) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}
